.sidebar {
    position: absolute;
    top: 0;
    left: 0;
    width: 3.5rem;
    height: 100vh;
    background: #1a73e8;
}
.page-wrapper {
    margin-left: 3.5rem;
    height: 100vh;
}

.main-content {
    height: 100%;
    width: 100%;
    overflow: auto;
}

.year-dropdown{
    width: 150px;
}

