.sidebar {
    position: absolute;
    top: 0;
    left: 0;
    width: 3.5rem;
    height: 100vh;
    background: #1a73e8;
}
.page-wrapper {
    margin-left: 3.5rem;
    height: 100vh;
}

.main-content {
    height: 100%;
    width: 100%;
    overflow: auto;
}

.year-dropdown{
    width: 150px;
}

footer{
    position:absolute;
    bottom:0;
}

.table-header{
    background: #d2d2d2;
}

a{
    text-decoration: none;
}
